; vim: filetype=dosini
; vim: foldmethod=marker:fmr=<<<,>>>

;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/polybar/polybar
;
;   The README contains a lot of information
;
;==========================================================


; Colors ===============================================<<<

[catppuccin]
;-------------------------
; Catppuccin Mocha Palette
; Maintainer: justTOBBI
;--------------------------

rosewater = #f5e0dc
flamingo = #f2cdcd
pink = #f5c2e7
mauve = #cba6f7
red = #f38ba8
maroon = #eba0ac
peach = #fab387
yellow = #f9e2af
green = #a6e3a1
teal = #94e2d5
sky = #89dceb
sapphire = #74c7ec
blue = #89b4fa
lavender = #b4befe
text = #cdd6f4
subtext1 = #bac2de
subtext0 = #a6adc8
overlay2 = #9399b2
overlay1 = #7f849c
overlay0 = #6c7086
surface2 = #585b70
surface1 = #45475a
surface0 = #313244
base = #1e1e2e
mantle = #181825
crust = #11111b
transparent = #FF00000

[colors]
background = ${catppuccin.mantle}
background-alt = ${catppuccin.surface1}
foreground = ${catppuccin.text}
primary = ${catppuccin.blue}
secondary = ${catppuccin.mantle}
alert = ${catppuccin.peach}
disabled = ${catppuccin.subtext1}

shade1 = ${catppuccin.maroon}
shade2 = ${catppuccin.yellow}
shade3 = ${catppuccin.green}
shade4 = ${catppuccin.blue}

[machine]
{{- if eq .chezmoi.hostname "msi-linus-home" }}
wired_interface = enp3s0
wireless_interface = wlan0
battery = BAT1
power_adapter = ADP1
{{- else }}
wired_interface = enp0s31f6
wireless_interface = wlp0s20f3
battery = BAT0
power_adapter = ADP1
{{- end }}


; >>>
; Glyphs ==================================================<<<

[glyph]
hard_right = " █"
soft_right = "  "
hard_left = "█ "
soft_left = "  "

; >>>
; Modules =================================================<<<


; Separators <<<

[module/rsep_hard]
type = custom/text
content = ${glyph.hard_right}
content-font = 2

[module/rsep_soft]
type = custom/text
content = ${glyph.soft_right}
content-font = 2

[module/lsep_hard]
type = custom/text
content = ${glyph.hard_left}
content-font = 2

[module/lsep_soft]
type = custom/text
content = ${glyph.soft_left}
content-font = 2

[module/lsep0_soft]
inherit = module/lsep_soft
content-background = ${colors.background}
content-foreground = ${colors.foreground}

[module/rsep0_soft]
inherit = module/rsep_soft
content-background = ${colors.background}
content-foreground = ${colors.foreground}

[module/rsep1]
inherit = module/rsep_hard
content-background = ${colors.background}
content-foreground = ${colors.shade1}

[module/rsep2]
inherit = module/rsep_hard
content-background = ${colors.shade1}
content-foreground = ${colors.shade2}

[module/rsep2_soft]
inherit = module/rsep_soft
content-background = ${colors.shade2}
content-foreground = ${colors.background}

[module/rsep3]
inherit = module/rsep_hard
content-background = ${colors.shade2}
content-foreground = ${colors.shade3}

[module/rsep4]
inherit = module/rsep_hard
content-background = ${colors.shade3}
content-foreground = ${colors.shade4}

[module/rend]
type = custom/text
content = " "
content-background = ${colors.shade4}

; >>>

; Left Module Group <<<

[left_group]
modules = lbegin monitor lsep1 monitor_workspaces lsep2 i3_status window
color_1 = ${colors.primary}
color_2 = ${catppuccin.red}

[module/i3_status]
type = internal/i3
format-prefix = " "
format = <label-mode>
format-suffix = "  "
format-foreground = ${left_group.color_2}
format-background = ${colors.background}
format-suffix-foreground = ${colors.foreground}
format-suffix-font = 2

[module/lbegin]
type = custom/text
content = " "
content-background = ${left_group.color_1}

[module/monitor]
type = custom/text
content = ${env:MONITOR:unknown monitor}
content-prefix = "󰍹 "
content-foreground = ${colors.background}
content-background = ${left_group.color_1}

[module/lsep1]
inherit = module/lsep_hard
content-foreground = ${left_group.color_1}
content-background = ${colors.background-alt}

[module/monitor_workspaces]
type = internal/i3
format = <label-state>
format-foreground = ${left_group.color_1}
format-background = ${colors.background-alt}
pin-workspaces = true

label-focused = 󰻃 %name%
label-focused-foreground = ${colors.primary}
label-focused-padding = 0

label-visible = 󰻃 %name%
label-visible-foreground = ${colors.disabled}
label-visible-padding = 0

label-unfocused = 󰄰 %name%
label-unfocused-foreground = ${colors.disabled}
label-unfocused-padding = 0

label-urgent = 󰵛 %name%
label-urgent-foreground = ${colors.alert}
label-urgent-padding = 0

label-separator = 
label-separator-padding = 1
label-separator-foreground = ${colors.background}

[module/lsep2]
inherit = module/lsep_hard
content-foreground = ${colors.background-alt}
content-background = ${colors.background}

[module/window]
type = internal/xwindow
label = %title:0:80:...%

; >>>

; Center Module Group <<<

[center_group]
modules =

; >>>


[module/cpu]
type = internal/cpu
interval = 2
format-prefix = ""
format = <ramp-load>
label = %percentage:2%%
format-foreground = ${colors.background}
format-background = ${colors.shade1}

ramp-load-0 = "󰄰 "
ramp-load-1 = "󰪞 "
ramp-load-2 = "󰪟 "
ramp-load-3 = "󰪠 "
ramp-load-4 = "󰪢 "
ramp-load-5 = "󰪣 "
ramp-load-6 = "󰪡 "
ramp-load-7 = "󰪤 "
ramp-load-8 = "󰪥 "

[module/memory]
type = internal/memory
interval = 2
format = <ramp-used>
label = %ramp-used%
format-foreground = ${colors.background}
format-background = ${colors.shade1}

ramp-used-0 = "󰄰 "
ramp-used-1 = "󰪞 "
ramp-used-2 = "󰪟 "
ramp-used-3 = "󰪠 "
ramp-used-4 = "󰪢 "
ramp-used-5 = "󰪣 "
ramp-used-6 = "󰪡 "
ramp-used-7 = "󰪤 "
ramp-used-8 = "󰪥 "

[module/filesystem]
type = internal/fs
interval = 25

mount-0 = /

label-mounted = %percentage_used%%
label-mounted-foreground = ${colors.background}
label-mounted-background = ${colors.shade1}

label-unmounted = 

[module/network]
type = internal/network
interval = 3.0
udspeed-minwidth = 5
accumulate-stats = true
unknown-as-up = true
speed-unit = ''

[module/wired-network]
type = internal/network
color = ${colors.shade2}
interface = ${machine.wired_interface}

format-disconnected = %{A1:exec cinnamon-settings network:}<label-disconnected>%{A}
format-connected = %{A1:exec cinnamon-settings network:}<label-connected>%{A}
label-connected = "󰈁 "
label-disconnected = ""

label-connected-foreground = ${colors.background}
label-connected-background = ${self.color}
label-disconnected-foreground = ${colors.background}
label-disconnected-background = ${self.color}

[module/wireless-network]
type = internal/network
interface = ${machine.wireless_interface}

format-disconnected = %{A1:exec cinnamon-settings network:}󰤮  %{A}
format-connected = %{A1:exec cinnamon-settings network:}<ramp-signal>%{A}
label-connected = %essid%
ramp-signal-0 = "󰤠 "
ramp-signal-1 = "󰤟 "
ramp-signal-2 = "󰤢 "
ramp-signal-3 = "󰤥 "
ramp-signal-4 = "󰤨 "
format-connected-background= ${colors.shade2}
format-connected-foreground= ${colors.background}
format-disconnected-background= ${colors.shade2}
format-disconnected-foreground= ${colors.background}

[module/bluetooth]
type = custom/script
exec = ~/.config/polybar/scripts/bluetooth_status_glyph.sh
label = %output%
interval = 5
click-left = exec blueman-manager
click-right = exec blueman-manager
format-padding = 1
format-background = ${colors.shade2}
format-foreground = ${colors.background}

[module/pulseaudio]
type = internal/pulseaudio

format-volume-prefix = " "
format-volume = <label-volume>
format-volume-foreground = ${colors.background}
format-volume-background = ${colors.shade3}

label-volume = %percentage%%

label-muted = " %percentage%%"
label-muted-background = ${colors.shade3}
label-muted-foreground = ${colors.background}

click-right = pavucontrol

[module/xkeyboard]
type = internal/xkeyboard
blacklist-0 = num lock
format= 󰌌 <label-layout>
label-layout = %name%
format-background = ${colors.background}
format-foreground = ${catppuccin.green}

label-indicator-padding = 0
label-indicator-margin = 0

[module/date]
type = internal/date
interval = 1

date = 󰥔 %H:%M
date-alt = 󰃶 %d-%m-%Y  󰥔 %H:%M:%S

label =  %date%
label-foreground = ${colors.background}
label-background = ${colors.shade4}

[module/battery]
type = internal/battery
color = ${catppuccin.mauve}
full-at = 95

; Use the following command to list batteries and adapters:
; $ ls -1 /sys/class/power_supply/
battery = ${machine.battery}
adapter = ${machine.power_adapter}

; Disable polling by setting the interval to 0.
; Default: 5
poll-interval = 10

format-full = <ramp-capacity><label-full>
label-full = %percentage%%
format-charging = <ramp-capacity><label-charging>
label-charging = 󰁝 %percentage%%
format-discharging = <ramp-capacity><label-discharging>
label-discharging = 󰁅 %time%

format-full-background = ${colors.background}
format-full-foreground = ${self.color}
format-charging-background = ${colors.background}
format-charging-foreground = ${self.color}
format-discharging-background = ${colors.background}
format-discharging-foreground = ${self.color}

ramp-capacity-0 = "󱃍 "
ramp-capacity-1 = "󰁺 "
ramp-capacity-2 = "󰁻 "
ramp-capacity-3 = "󰁼 "
ramp-capacity-4 = "󰁽 "
ramp-capacity-5 = "󰁾 "
ramp-capacity-6 = "󰁾 "
ramp-capacity-7 = "󰂀 "
ramp-capacity-8 = "󰂁 "
ramp-capacity-9 = "󰂂 "
ramp-capacity-10 = "󱟢 "


; >>>
; Bars =================================================<<<

[bar/base]
monitor = ${env:MONITOR:}
bottom = false

width = 100%
height = 18pts
radius = 0

background = ${colors.background}
foreground = ${colors.foreground}

line-size = 3pt

border-size = 0pt
border-color = #00000000

padding-left = 0
padding-right = 0
module-margin = 0

separator =
separator-foreground = ${colors.disabled}

; font-0 for normal text, font-1 for glyphs
font-0 = IosevkaTerm NF Medium:size=11;3
{{- if eq .chezmoi.hostname "msi-linus-home" }}
font-1 = IosevkaTerm NF Medium:size=18;3
{{- else }}
font-1 = IosevkaTerm NF Medium:size=12;2
{{- end }}

modules-left = ${left_group.modules}
modules-center= ${center_group.modules}

cursor-click = pointer
cursor-scroll = ns-resize

enable-ipc = true

[bar/main]
inherit = bar/base
modules-right = xkeyboard rsep0_soft battery rsep1 cpu memory rsep2 wired-network wireless-network bluetooth rsep3 pulseaudio rsep4 date rend


[bar/other]
inherit = bar/base
modules-right =


; >>>
; Settings =============================================<<<

[settings]
screenchange-reload = true
pseudo-transparency = true 

; >>>
