# For defaults and description of each option, see the link bellow
# https://github.com/dunst-project/dunst/blob/master/dunstrc

# Based on /usr/share/icons/Adwaita/symbolic

[global]
# Display
follow = mouse
{{- if eq .chezmoi.osRelease.idLike "ubuntu debian" }}
geometry = 350x300-35+35
{{- else }}
width = 350
height = (0, 300)
origin = top-right
offset = (35, 35)
{{- end }}
indicate_hidden = yes
notification_limit = 5
gap_size = 12
padding = 12
horizontal_padding = 20
frame_width = 2
sort = no

# Progress bar
progress_bar_frame_width = 0
progress_bar_corner_radius = 3

# Colors
foreground = "#cdd1dc"
frame_color = "#89b4fa"
highlight = "#89b4fa"

# Text
font = "IosevkaTerm NF 11"
markup = full
format = "<big><b>%s</b></big>\n%b\n<small>— <i>%a</i></small>\n"
alignment = left
vertical_alignment = center
show_age_threshold = -1
hide_duplicate_count = false

# Icon
icon_position = left
min_icon_size = 54
max_icon_size = 80
icon_path = "/home/linus/.icons/Papirus-Dark/"
enable_recursive_icon_lookup = true
icon_corner_radius = 4

# Misc/Advanced
dmenu = wofi --show drun --prompt 'Open with'
corner_radius = 10

# Mouse
mouse_left_click = close_current
mouse_middle_click = do_action, close_current
mouse_right_click = close_all

[urgency_low]
background = "#1e1e2eb0"
foreground = "#cdd6f4"
timeout = 3

[urgency_normal]
background = "#1e1e2eb0"
foreground = "#cdd6f4"
timeout = 3

[urgency_critical]
background = "#1e1e2e"
foreground = "#cdd6f4"
frame_color = "#fab387"
timeout = 0

# Rules
[fullscreen_delay_everything]
fullscreen = delay

[fullscreen_show_critical]
msg_urgency = critical
fullscreen = show
